/target/
/benchmarks/build/
/benchmarks/apps/build/
/benchmarks/apps/node_modules/
/benchmarks/libraries/build/
/benchmarks/libraries/node_modules/
/benchmarks/paired/build/
/benchmarks/popular/build/
/benchmarks/popular/node_modules/
/benchmarks/popular/apps/*/*/build/
/benchmarks/scenarios/build/
/benchmarks/scenarios/node_modules/
/benchmarks/browser/node_modules/
/web/node_modules/
/web/dist/
/vscode-extension/node_modules/
/vscode-extension/extension.js
/vscode-extension/*.vsix
.DS_Store
