/target/
/benchmarks/build/
/benchmarks/apps/build/
/benchmarks/apps/node_modules/
/web/node_modules/
/web/dist/
/vscode-extension/node_modules/
/vscode-extension/extension.js
/vscode-extension/*.vsix
.DS_Store
